# Frontend
VITE_SUPABASE_URL=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_PROJECT_ID=""

# Supabase Edge Functions / Asaas
ASAAS_API_KEY=""
ASAAS_API_URL="https://api.asaas.com/v3"
ASAAS_WEBHOOK_SECRET=""
