# Frontend
VITE_SUPABASE_URL=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_PROJECT_ID=""

# Supabase Edge Functions / Woovi
WOOVI_APP_ID=""
WOOVI_API_URL="https://api.woovi.com"
WOOVI_WEBHOOK_AUTHORIZATION=""
WOOVI_WEBHOOK_HMAC_SECRET=""
